* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    background-color: #ffffff;
    background-image: url("../img/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    justify-content: center;
    min-height: 100vh;
    position: relative;
}

.contact {
    bottom: 20px;
    color: #ffffff;
    font-size: 0.8em;
    position: absolute;
    text-align: center;
    width: 100%;
}

.description {
    color: #ff5e00;
    font-size: 1em;
}

.greeting {
    color: #333;
    font-size: 2.8em;
}

.greeting-container {
    position: absolute;
    text-align: center;
    top: 20px;
    width: 100%;
}

.link {
    font-size: 5em;
    text-align: center;
}

.link a:active,
.link a:hover {
    color: #aa55ff;
    text-decoration: none;
}

.link a:focus,
.link a:link,
.link a:visited {
    color: #ff0000;
    text-decoration: none;
}

.nav {
    font-size: 1em;
    position: absolute;
}

.nav p {
    left: 20px;
    position: absolute;
    top: 5px;
}
