* {
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	height: 100vh;
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}

.greeting {
	font-size: 3em;
	color: #333;
	text-align: center;
}

.contact {
	font-size: 0.8em;
	color: #666;
	text-align: center;
	padding: 20px 0;
	width: 100%;
	position: absolute;
	bottom: 20px;
}